@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://use.typekit.net/uso8vle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.removeScrollBar::-webkit-scrollbar {
    display: none;
}

.white-svg {
    filter: invert(100%) brightness(100);
    background-color: white;
    mix-blend-mode: screen;
}

.pointer-events-auto-important {
    pointer-events: auto !important;
}

.pointer-events-none-important {
    pointer-events: none !important;
}

body {
    overscroll-behavior: none;
}